.outer {
	width: 700px;
	margin: 50px auto;
	height: auto;
	border-radius: 35px;
	background: black;
}
.container {
	margin: 50px auto;
	width: 700px;
	height: auto;
	padding-bottom: 30px;
	background:#e7d8ca;
	text-align: center;
	color: #31322f;
	border-radius: 35px;
}

nav{
	width: 700px;
	background: #40373b;
	font-family: sans-serif;
	border-top-left-radius: 35px
}

nav ul{
	text-align: right;
	list-style-type: none;
	padding-right: 10px;
	margin: 1px;
}

nav ul li{
	display: inline;
	margin: 0;
	padding: 10px;
}

nav a, a:visited{
	text-decoration: none;
	color: #e7d8ca;
}

nav a:hover{
	text-decoration: none;
	color: #c18f5d;
}

.progress{
	font-family: verdana;
	padding: 10px;
}

.current_prog{
	color: #c18f5d;
	font-size: small;
}

.target_prog{
	color: #605757;
}

.container ul{
	list-style-type: none;
	line-height: 2;
	padding:0;
}

.card {
	width: 32%;
	margin: 10px auto;
	padding: 30px;
	height: auto;
	background: white;
	border: inset 3px;
}