html{
	background: url("../16822_sky_clouds_above_clouds.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

}
.outer {
	margin: 50px auto;
	width: 700px;
	height: auto;
	border-radius: 35px;
	background: black;
}
.container {
	margin: 50px auto;
	padding-bottom: 70px;
	width: 700px;
	height: auto;
	border-radius: 35px;
	background: rgba(255,255,255, 0.9);
	color: #31322f;
	text-align: center;
	font-family: 'Oxygen';
}

.container h1{
	margin-bottom: 1px;
	font-size: 3.5em;
	font-family: 'Rancho';
}

.bu {
	display: inline;
}

nav{
	width: 700px;
	border-top-left-radius: 35px;
	background: #40373b;
	background: linear-gradient(top,  #605757,  #40373b);
  background: -webkit-gradient(linear, left top, left bottom, from(#605757), to(#40373b));

}

nav ul{
	margin: -2px;
	padding-right: 10px;
	border-bottom: 0;
	border-top-left-radius: 35px;
	list-style-type: none;
	text-align: right;
}

nav ul li{
	display: inline;
	margin: 0;
	padding: 0 10px 0 10px;
}

nav a, a:visited{
	color: white;
	text-decoration: none;
}

nav a:hover{
	color:  #f4ece4;
	text-decoration: none;
}

.progress{
	padding: 10px;
}

.current_prog{
	color: #c18f5d;
	font-size: small;
}

.target_prog{
	color: #605757;
}

.container ul{
	padding:0;
	list-style-type: none;
	line-height: 2;
}

.card {
	margin: 10px auto;
	padding: 30px;
	width: 32%;
	height: auto;
	border: inset 3px;
	background: white;
}

input:not([type=submit]){
	border: 1px solid  #f4ece4;
	border-radius: 5px;
	text-align: center;
}

input[type=submit],
input[type=button]{
	padding: 0 10px 0 10px;
	border: 1px solid  #f4ece4;
	border-radius: 5px;
	background: #605757;

	background: linear-gradient(top,  #605757,  #40373b);
  background: -webkit-gradient(linear, left top, left bottom, from(#605757), to(#40373b));
	color: white;
	font-size: 1.3em;
	font-family: 'Rancho';
}

input[type=submit]:hover,
input[type=button]:hover{
	background: #605757;
	background: linear-gradient(top,  #40373b,  #605757);
  background: -webkit-gradient(linear, left top, left bottom, from(#40373b), to(#605757));
}

