<div class="container">
 	<h1>@curr_deck.title</h1>
 	<span class="progress">@curr_deck.count / @count</span>
 	<div class = "card">
 		@curr_card.name
 	</div>
 	<form name="user_guess" method="post">
 		<input type="string" name = "guess" placeholder = "Answer">
 		<input type="submit" value = "submit">
 	</form>
 </div>