	<h1>Quizly</h1>
	<form name = "login" action="/" method="post">
		<ul>
			<li><input type = "string" name = "input[name]" placeholder="Username"></li>
			<li><input type = "password"	name = "input[password]" placeholder="Password"></li>
		</ul>
		<input type = "submit" value ="Log in">
	</form>
</div>