<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
	<link href='http://fonts.googleapis.com/css?family=Nixie+One|Rancho|Oxygen' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Quizly</title>
</head>
<body>
	<div class-"outer">
	<div class="container">
  		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<% if @curr_user != nil %>
					<li><a href="/logged_in"><%= @curr_user.name.capitalize %></a></li>
					<li><a href="/logout">Log out</a></li>
				<% else %>
					<li><a href="/register">Register</a></li>
				<% end %>
			</ul>
		</nav>

  <%= yield %>
	</div>
</body>
</html>
