	<h1>Quizly</h1>
	<h3>New User</h3>
	<form name = "input[login]" action="/register" method="post">
		<ul>
			<li><input type = "string" name = "input[name]" placeholder="Username"></li>
			<li><input type = "email" name = "input[email]" placeholder="E-mail"></li>
			<li><input type = "password"	name = "input[password]" placeholder="Password"></li>
		</ul>
		<input type = "submit" value ="Register">
	</form>
</div>